*.sw?
*.o
*.a
*.i
*.s
Makefile.local
tags
src/test/0125_Token
src/test/0187_Scanner
src/test/0250_Logger
src/test/0500_BNFAst
src/test/0140_BNFScannerNode
src/test/0160_BNFScannerRule
src/test/0750_BNF_RDParser
src/compiler
src/test/0200_BNFScannerWithRuleset
src/test/0800_BNFParserWithRuleset
doc/man/
