*.sw?
src/Makefile.local
src/*.sw?
src/test/.sw?
src/*.o
src/*.a
src/test/Makefile.local
src/test/*.o
src/idasl
src/test/0000_basic_scanning
src/test/0050_tm
src/test/0070_basic_scanning
src/test/0100_token
src/test/0150_token_list
src/test/0170_token_list_container
src/test/0180_results
src/test/0190_rules
src/test/0200_basic_parsing
src/test/0050_tm
src/test/0210_more_parsing
src/test/0300_dasl_run
